header {
    margin-top: 2em;
}

img, video {
    max-width: 65%;
    display: block;
    margin: auto;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    text-align: center;
}

code {
    color: var(--col-accent-primary);
}

pre {
    background: black;
    padding: 0.5em;
    border: 1px solid var(--col-secondary);
    border-radius: 6px;
}

li {
    margin-bottom: 0.5em;
}

.media-caption {
    display: block;
    max-width: 80%;
    margin: auto;
    margin-top: 0em;
    margin-bottom: 0.3em;

    text-align: center;
    font-style: italic;
    color: var(--col-secondary);
}
